<div class="main-container"> 
  <div class="page-header" fxLayout="row"> 
    <div class="header-left" fxFlex fxLayoutAlign="start center">
      <h2 class="no-margin">All Available Device Types</h2> 
    </div>
    <div class="header-right" fxFlex fxLayoutAlign="end center">
      <button kendoButton [look]="'outline'" >Add New</button>
    </div>
  </div>
  <kendo-tabstrip >
    <kendo-tabstrip-tab
      *ngFor="let item of items let i=index"
      [title]="item.type"
      [selected]="i == selected"
      [disabled]="item.disabled"
    >
        <ng-template kendoTabContent>
          <div class="weather">
            <h4>This device measures {{ item.measures }}.</h4>
            <p>The average {{ item.measures | lowercase }} of type {{ item.type }} devices is {{ item.averageReading }}.</p>
          </div>
        </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>  
