<div class="main-container">
  <div class="page-header">
    <h2>Add New Device</h2>
  </div>
  <form class="k-form">
    <fieldset>

        <label class="k-form-field">
            <span>VIN</span>
            <input class="k-textbox"/>
        </label>
        <label class="k-form-field">
            <span>ECM</span>
            <input class="k-textbox"/>
        </label>
        <label class="k-form-field">
            <span>ESM</span>
            <input class="k-textbox"/>
        </label>
        <label class="k-form-field">
            <span>Cost ID</span>
            <input class="k-textbox"/>
        </label>
    </fieldset>
  </form>
  
  <button kendoButton [look]="'outline'" >Save</button>
</div>