.no-margin {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.k-panelbar .k-item > .k-link:hover, .k-panelbar > .k-item {
    border-width: 0 !important;
}

.k-content, .k-panelbar {
    border-width: 0 !important;
}

.k-form {
    padding: 0 !important;
}

.k-form fieldset {
    border: none !important;
}

.k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-active), .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-expanded) {
    background-color: $series-c;
}

.k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-expanded):hover {
    background-color: $series-c;
}
 
.k-panelbar > .k-item > .k-link.k-state-selected {
    background-color: inherit;
    border: none;
}

.k-panelbar > .k-item > .k-link.k-state-focused.k-state-selected {
    box-shadow: none;
}