.no-margin {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.k-panelbar .k-item > .k-link:hover, .k-panelbar > .k-item {
    border-width: 0 !important;
}

.k-content, .k-panelbar {
    border-width: 0 !important;
}
