
<div class="main-container dashboard-container" fxLayout="column">
  <div class="metrics-container" fxLayout="row" fxLayoutGap="20px">
    <div class="metric online" fxFlex fxLayoutAlign="center center">
      <h3 class="no-margin">Devices Online:</h3>
      <h4 class="no-margin">25</h4>
    </div>
    <div class="metric offline" fxFlex fxLayoutAlign="center center">
      <h3 class="no-margin">Devices Offline:</h3>
      <h4 class="no-margin">6</h4>
    </div>
    <div class="metric total" fxFlex fxLayoutAlign="center center">
      <h3 class="no-margin">Total Devices:</h3>
      <h4 class="no-margin"></h4>
    </div>
  </div>

  <div class="chart-container" fxLayout="row" fxLayoutAlign="center center"> 
    <app-line-chart fxFlex="98%"></app-line-chart>
  </div>
</div>
