
<div class="metrics-container">
  <div class="online metric">
    <h4 class="no-margin center">Devices Online</h4>
    <h5 class="no-margin center">25</h5>
  </div>
  <div class="offline metric">
    <h4 class="no-margin center">Devices Offline</h4>
    <h5 class="no-margin center">6</h5>
  </div>
  <div class="total metric">
    <h4 class="no-margin center">Total Devices</h4>
    <h5 class="no-margin center">31</h5>
  </div>
</div>

<div class="chart-container"> 
  <div class="chart-row" > 
    <app-bar-chart ></app-bar-chart>
    <app-line-chart class="col-lg-5"></app-line-chart>
  </div>
  <div class="chart-row"> 
    <!-- <app-guage class="col-lg-5"></app-guage> -->
    <app-range-area-chart class="col-5"></app-range-area-chart>
  </div>
</div>
