
<kendo-grid [data]="devices" [height]="584">
    <kendo-grid-column field="id" title="ID" width="40">
        <a routerLink="/details/device.id"></a>
    </kendo-grid-column>
    <kendo-grid-column field="deviceType" title="Type" width="40">
    </kendo-grid-column>
    <kendo-grid-column field="description" title="Description"  width="250"> 
    </kendo-grid-column>
    <kendo-grid-column field="status" title="Active" width="80">
        <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" [checked]="dataItem.status" disabled/>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column  width="80">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoButton [look]="'outline'" routerLink="/details/{{dataItem.id}}">View Details</button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<!-- routerLink="/details/{{device.id}}" -->
