
<kendo-grid [data]="devices" [height]="584">
    <kendo-grid-column field="id" title="ID" width="100">
        <a routerLink="/dashboard"></a>
    </kendo-grid-column>
    <kendo-grid-column field="epochtime" title="Time" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="pump_status.pump_temperature_c" title="Temperature"  width="100"> 
    </kendo-grid-column>
    <kendo-grid-column field="pump_status.warnings" title="Warnings" width="150">
    </kendo-grid-column>
    <kendo-grid-column  width="80"  title="{{totalDevices}}">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoButton [look]="'outline'" routerLink="/details/{{dataItem.id}}">View Details</button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

